<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270397286111-aijv4rpckncfi4k2g70u73ptomejurq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270397286111-aijv4rpckncfi4k2g70u73ptomejurq4</string>
	<key>API_KEY</key>
	<string>AIzaSyDJnYY4hcP_szAEsF52V5DQXkX-xAbsRMg</string>
	<key>GCM_SENDER_ID</key>
	<string>270397286111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.web</string>
	<key>PROJECT_ID</key>
	<string>centifygames-f547e</string>
	<key>STORAGE_BUCKET</key>
	<string>centifygames-f547e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270397286111:ios:024b719a99e25c40dbeb6a</string>
</dict>
</plist>